* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  font-size: 1.3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5 rem;
  margin-top: 250px;
}

#title {
   color: rgb(20, 66, 64);
   font-size: 38px;
   text-transform: capitalize;

}
.search {
  margin-top: 10px;
  display: flex;
  width: 40%;
  max-width: 60rem;
}

.search input {
  padding: 0.5rem 1rem;
  width: 150%;
}

.search input:hover {
  outline: 1px solid black;
}

.primary-btn {
  margin-left: 3px;
  width: 25%;
  background-color: rgb(38, 89, 157);
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.primary-btn:hover {
  background-color: rgb(0, 23, 63);
}





/* for card */
#profileContainer{
  width: 100%;
}

